.component-view {
  height: 100%;
  will-change: contents;

  .component-list>div>div,
  input {
    margin: 0.5em;
  }

  .icon-style {
    fill: red;
    font-size: 1.5em;
  }

  .swtich-theme {
    float: right;
  }
}